
.s-about {
    padding-top: 19.2rem;
    padding-bottom: 16.8rem;
    background-color: #ffffff;
  }
  
  .s-about .row {
    max-width: 1140px;
  }
  
  .s-about>[class*="about-"] {
    margin-bottom: 15.2rem;
  }
  
  .s-about>[class*="about-"]:last-child {
    margin-bottom: 0;
  }
  
  .about-me__text {
    -webkit-columns: 2 360px;
    -moz-columns: 2 360px;
    columns: 2 360px;
    column-gap: 64px;
  }
  
  .about-me__buttons {
    margin-top: 4.8rem;
  }
  
  .about-me__buttons .column:first-child {
    padding-right: 32px;
  }
  
  .about-me__buttons .column:last-child {
    padding-left: 32px;
  }
  
  @media screen and (max-width:1200px) {
    .s-about {
      padding-top: 17.2rem;
      padding-bottom: 15.6rem;
    }
  }
  
  @media screen and (max-width:1024px) {
    .about-me__text {
      column-gap: 40px;
    }
  
    .about-me__buttons .column:first-child {
      padding-right: 20px;
    }
  
    .about-me__buttons .column:last-child {
      padding-left: 20px;
    }
  
    /*
      .about-experience__timeline .column:first-child {
        padding-right: 16px;
      }
    
      .about-experience__timeline .column:last-child {
        padding-left: 16px;
      }
    */
  }
  
  @media screen and (max-width:900px) {
    .s-about .row {
      max-width: 700px;
    }
  
    .about-me__buttons .column:first-child {
      padding-right: 16px;
    }
  
    .about-me__buttons .column:last-child {
      padding-left: 16px;
    }
  }
  
  @media screen and (max-width:800px) {
    .s-about {
      padding-top: 16rem;
    }
  
    .s-about .row {
      max-width: 600px;
    }
  
  }
  
  @media screen and (max-width:600px) {
  
    .about-me__buttons .column:first-child,
    /*.about-experience__timeline*/
    .column:first-child {
      padding-right: 10px;
    }
  
    .about-me__buttons .column:last-child,
    /*.about-experience__timeline*/
    .column:last-child {
      padding-left: 10px;
    }
  }
  